<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>常用指令</title>
</head>
<script src="js/vue.js"></script>

<body>
    <div id="app">
        经判断，年龄<input type="text" v-model="age">为:
        <span v-if="age <= 35">青年人</span>
        <span v-else-if="age > 35 && age < 60">中年人</span>
        <span v-else="age >=60">老年人</span>

        <br><br>

        经判断，年龄<input type="text" v-model="age">为:
        <span v-show="age<=35">青年人</span>
        <span v-show="age>35 && age<60">中年人</span>
        <span v-show="age>=60">老年人</span>
    </div> 



</body>

<script>
    new Vue({
        el:"#app",
        data:{
            age: null
        },
        methods:{
            handle:function(){
                alert("你点击了我一下......");
            }
        }
    })


</script>



</html>