<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>常用指令</title>
</head>
<script src="js/vue.js"></script>

<body>
    <div id="app">
        <div v-for="addr in addrs">{{addr}} </div>

        <hr>

        <div v-for="(addr,index) in addrs">{{index+1}}:{{addr}} </div>

    </div>


</body>

<script>
    new new Vue({
        el:"#app",
        data:{
            addrs:["北京","广州","天津","上海","成都"]
        }
    })


</script>



</html>