<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生成绩表</title>
</head>

<script src="js/vue.js"></script>
<body>
    <table width="60%" border="1px" cellspacing="0px" id="app">
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>成绩</th>
            <th>等级</th>
        </tr>
        <tr v-for="(user, index) in users" align="center">
            <td>{{index+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td >
                <span v-if="user.gender== 1">男</span>
                <span v-if="user.gender== 2">女</span>
            </td>
            <td>{{user.score}}</td>
            <td>
                <span v-if="user.score>85">优秀</span>
                <span v-else-if="user.score>60">及格</span>
                <span v-else style="color: red;">不及格</span>
            </td>


        </tr>
    </table>
</body>

<script>

    new new Vue({
        el:"#app",
        data:{
            users:[
                {
                    name:"张三",
                    age:23,
                    gender:1,
                    score:78
                },               
                {
                    name:"李四",
                    age:24,
                    gender:2,
                    score:90
                },               
                {
                    name:"赵婷婷",
                    age:18,
                    gender:2,
                    score:84
                },               
                {
                    name:"赵铁柱",
                    age:33,
                    gender:1,
                    score:58
                },               
                {
                    name:"王梅",
                    age:44,
                    gender:2,
                    score:75
                },               
                {
                    name:"王叔",
                    age:35,
                    gender:1,
                    score:69
                }
            ]
        }
    })


</script>
</html>